<div class="row">
  <div class="col-sm-offset-1 col-xs-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Cobranzas</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel turpis eu augue scelerisque ornare id eget lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin porttitor maximus efficitur. In consectetur vel urna at interdum. In hac habitasse platea dictumst. Ut rhoncus, justo a accumsan gravida, sapien lacus tincidunt est, condimentum ultrices nisi nibh ut arcu. Donec in feugiat magna. Cras et tortor pharetra, egestas massa a, consectetur arcu. Nunc vestibulum felis elit, eu ultricies arcu aliquam at.
        </p>
      </div>
      <div class="card-footer">
        <div class="row gutter-xs">
          <div class="col-sm-6">
            <button class="btn btn-lg btn-block btn-outline-danger" [ngClass]="{active: active}" (click)="setPorVencer()">Cuotas Activas</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-lg btn-block btn-outline-danger" [ngClass]="{active: !(active)}" (click)="setVencidas()">Cuotas Vencidas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-xs-10">
    <div class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="bg-danger-inverse">
                <th>Póliza</th>
                <th>Ramo</th>
                <th>Numero</th>
                <th>Fecha Vencimiento</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuota of cuotas">
                <td>{{cuota.poliza}}</td>
                <td>{{cuota.ramo}}</td>
                <td>{{cuota.num}}/{{cuota.nCuotas}}</td>
                <td>{{cuota.venc.toDateString()}}</td>
                <td>{{cuota.monto}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
