<div class="login">
  <div class="login-body">
    <a class="login-brand" href="index.html">
      <h1 class="text-center panel-title text-capitalize fw-l">INSUREX</h1>
      <!--<img class="img-responsive" src="assets/img/logo.svg" alt="Elephant">-->
    </a>
    <h3 class="login-heading">Iniciar Sesión</h3>
    <div class="login-form">
      <div>
        <div class="md-form-group md-label-floating">
          <input class="md-form-control" type="text" name="rut" [(ngModel)]="user.rut" spellcheck="false" autocomplete="off" data-msg-required="" required>
          <label class="md-control-label">Rut</label>
        </div>
        <div class="md-form-group md-label-floating">
          <input class="md-form-control" type="password" name="password" [(ngModel)]="user.pwd" minlength="4" data-msg-minlength="Password must be 6 characters or more." data-msg-required="Please enter your password." required>
          <label class="md-control-label">Contraseña</label>
        </div>
        <button class="btn btn-primary btn-block" (click)="login()">Iniciar Sesión</button>
      </div>
    </div>
  </div>
</div>
