<div class="row">
  <div class="col-sm-4">
    <div class="card bg-primary">
      <div class="card-header">
        <h3 class="card-title">Pólizas</h3>
      </div>
      <div class="card-body">
        <button class="btn btn-lg btn-block btn-primary" [routerLink]="['../polizas']"><span class="icon icon-lg icon-file-text"></span></button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-primary-inverse">
      <div class="card-header">
        <h3 class="card-title">Cobranza</h3>
      </div>
      <div class="card-body">
        <button class="btn btn-lg btn-block btn-outline-primary" [routerLink]="['../cobranza']"><span class="icon icon-lg icon-money"></span></button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-instagram">
      <div class="card-header">
        <h3 class="card-title">Documentos Pendientes</h3>
      </div>
      <div class="card-body">
        <button class="btn btn-lg btn-block btn-outline-info" [routerLink]="['../pendientes']"><span class="icon icon-lg icon-files-o"></span></button>
      </div>
    </div>
  </div>
</div>
