
<div class="layout-header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand navbar-brand-center" href="">
        <img class="navbar-brand-logo" src="assets/img/logo-inverse.svg" alt="Elephant">
      </a>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
        <span class="sr-only">Toggle navigation</span>
        <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
        <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
      </button>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="arrow-up"></span>
        <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="assets/img/0180441436.jpg" alt="Teddy Wilson">
            </span>
      </button>
    </div>
    <div class="navbar-toggleable">
      <nav id="navbar" class="navbar-collapse collapse">
        <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
        </button>
        <ul class="nav navbar-nav navbar-right">
          <li class="visible-xs-block">
            <h4 class="navbar-text text-center">Hi</h4>
          </li>
          <li class="hidden-xs hidden-sm">
            <form class="navbar-search navbar-search-collapsed">
              <div class="navbar-search-group">
                <input class="navbar-search-input" type="text" placeholder="Search for people, companies, and more&hellip;">
                <button class="navbar-search-toggler" title="Expand search form ( S )" aria-expanded="false" type="submit">
                  <span class="icon icon-search icon-lg"></span>
                </button>
                <button class="navbar-search-adv-btn" type="button">Advanced</button>
              </div>
            </form>
          </li>
          <li class="dropdown hidden-xs">
            <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
              <img class="rounded" width="36" height="36" src="assets/img/0180441436.jpg" alt="Teddy Wilson"> Teddy Wilson
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="upgrade.html">
                  <h5 class="navbar-upgrade-heading">
                    Upgrade Now
                    <small class="navbar-upgrade-notification">You have 15 days left in your trial.</small>
                  </h5>
                </a>
              </li>
              <li class="divider"></li>
              <li class="navbar-upgrade-version">Version: 1.0.0</li>
              <li class="divider"></li>
              <li><a href="">Sign out</a></li>
            </ul>
          </li>
          <li class="visible-xs-block">
            <a href="login-1.html">
              <span class="icon icon-power-off icon-lg icon-fw"></span>
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="layout-main">
  <div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
      <div class="custom-scrollbar">
        <nav id="sidenav" class="sidenav-collapse collapse">
          <ul class="sidenav">
            <li class="sidenav-search hidden-md hidden-lg">
              <form class="sidenav-form" action="/">
                <div class="form-group form-group-sm">
                  <div class="input-with-icon">
                    <input class="form-control" type="text" placeholder="Search…">
                    <span class="icon icon-search input-icon"></span>
                  </div>
                </div>
              </form>
            </li>
            <li class="sidenav-heading">Navegación</li>
            <li class="sidenav-item">
              <a [routerLink]="['dashboard']" aria-haspopup="true">
                <span class="sidenav-icon icon icon-home"></span>
                <span class="sidenav-label">Dashboard</span>
              </a>
            </li>
            <li class="sidenav-heading">Módulos</li>
            <li class="sidenav-item">
              <a [routerLink]="['polizas']">
                <span class="sidenav-icon icon icon-file-text"></span>
                <span class="sidenav-label">Pólizas</span>
              </a>
            </li>
            <li class="sidenav-item">
              <a [routerLink]="['cobranza']">
                <span class="sidenav-icon icon icon-money"></span>
                <span class="sidenav-label">Cobranza</span>
              </a>
            </li>
            <li class="sidenav-item">
              <a [routerLink]="['pendientes']">
                <span class="sidenav-icon icon icon-files-o"></span>
                <span class="sidenav-label">Pendientes</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div class="layout-content-body">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="layout-footer">
    <div class="layout-footer-body">
      <small class="version">Version 1.0.0</small>
      <small class="copyright">2016 &copy; Elephant By <a href="http://naksoid.com/">Naksoid</a></small>
    </div>
  </div>
</div>



